:root {
  --basic-white: #ffffff;
  --basic-black: #030303;

  --special-red: #710707;
  --special-brown: #9d8665;
}

/* ------------------------------------*|
  #SCSS-variables
/*------------------------------------ */
