:root {
  --basic-white: #ffffff;

  --basic-black: #000000;
  --bg-dark: #030303;

  --basic-gray: #666666;
  --light-gray: #c4c4c4;

  --basic-blue: #24809e;

  --special-red: #710707;
  --special-gold: #9d8665;
}

/* ------------------------------------*|
  #SCSS-variables
/*------------------------------------ */
