.social {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  list-style: none;
}

.social__item + .social__item {
  margin-left: 24px;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border: 1px solid var(--basic-gray);
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  transition: background-color 200ms ease 0s;

  &:hover,
  &:focus {
    border-color: var(--special-gold);
  }

  &:hover svg,
  &:focus svg {
    fill: var(--special-gold);
  }
}

.social__link svg {
  transition: fill 200ms ease 0s;
  fill: var(--basic-white);
}
