.welcome {
  padding-top: 114px;
  padding-bottom: 246px;
  background-image: url("../../img/welcome/background.jpg");
  background-repeat: no-repeat;
  background-position: calc(50% + 350px) 0;
  background-size: 1215px 750px;
}

.welcome__text-box {
}

.welcome__subtitle {
  margin-bottom: 75px;
}

.button {
}
